.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button{
        cursor: pointer;
    }

    .add{
        width: 250px;

        input{
            width: 165px;
            border: none;
            background-color: rgb(199, 199, 199);
            height: 25px;

            outline: none;
            padding-left: 5px;
        }

        button{
            width: 80px;
            border: none;
            height: 25px;
        }
    }

    .list{
        width: 250px;

        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            background-color: mediumaquamarine;
            padding-left: 15px;
            padding-right: 15px;
    
            button{
                width: 25px;
                height: 25px;
                border: none;
            }

            &:nth-child(even){
                background-color: mediumseagreen;
            }
        }
    }
}